.task {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  min-height: 20px;
  margin-bottom: 8px;

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);

  &__text {
    margin: 10px;
    white-space: normal;
  }

  &__button-delete {
    
  }
}