.column {
  min-width: 272px;
  margin: 0 4px;
  height: 100%;
  
  background-color: #ebecf0;
  border-radius: 3px;

  &__header {
    padding: 4px 8px;

    font-weight: 500;
    cursor: pointer;
  }

  &__list-task {
    padding: 0 4px;
    margin: 0 4px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__task {

  }

  &__button-add-task:before {
    content: "";
    margin-right: 7px;
    display: inline-block;
    vertical-align: baseline;
    width: 14px;
    height: 14px;
    background-image: url("../../assets/plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button-add-task {
    margin: 5px;
  }
}